<nav class="container-nav bg-color-black">
  <div class="nav-izquierdo">
    <img class="nav-izquierdo-img-egob" src="http://www.egob.mx/Assets/img/egob/egobmenu.png" alt="">
  </div>
  <div class="nav-centro">
            <h2 class="nav-centro-titulo">Control de Accesos</h2>
            <ul nz-menu nzMode="horizontal" class="bg-color-black">
                <li nz-menu-item class="bg-color-black">Inicio</li>
                <li nz-menu-item class="bg-color-black">Usuarios</li>
                <li nz-menu-item class="bg-color-black">Roles</li>
                <li nz-menu-item class="bg-color-black">Sucursales</li>
                <li nz-menu-item class="bg-color-black">Centros de costos</li>
                <li nz-menu-item class="bg-color-black">configuraciones</li>
            </ul>
        </div>
        <div class="nav-derecha">
            <div >
                    <button nz-button  nzType="link"><i nz-icon nzType="user" nzShape="circle"></i><span>Administrador</span></button>
                    <nz-badge [nzCount]="5">
                            <i nz-icon nzType="bell" nzTheme="outline"></i>
                    </nz-badge>
                    <button nz-button  nzType="link"> <i nz-icon [nzType]="'setting'" [nzTheme]="'fill'"></i></button>
            </div>
    </div>

</nav>



<!-- <nz-layout>
</nz-layout> -->

<!-- <div nz-row class="nav-centro">
    
    <div nz-row nzType="flex" nzAlign="bottom">
      <nz-breadcrumb nz-col nzSeparator="|">
        <nz-breadcrumb-item>
          <a href="">Inicio</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
  
          <a href="">Usuarios</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <a href="">Roles</a>
  
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <a href="">Sucursales</a>
  
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <a href="">Centros</a>
  
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <a href="">configuraciones</a>
  
        </nz-breadcrumb-item>
  
      </nz-breadcrumb>
    </div>
</div> -->