nav{
  box-sizing: border-box;
  padding: 1em 1em;
}

.container-nav{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    -webkit-box-shadow: 0px 2px 11px -1px rgba(173,168,173,1);
    -moz-box-shadow: 0px 2px 11px -1px rgba(173,168,173,1);
    box-shadow: 0px 2px 11px -1px rgba(173,168,173,1);
}
.bg-color-black{
    background-color:black;
    color:white;
}

/* Parte izquierda de la navegación */

.nav-izquierdo-img-egob{
  width: 12rem;
}


/* Parte del centro de la navegación */
.nav-centro{
  color:white;
  box-sizing: border-box;  
}
.nav-centro-titulo{
  color: white;
  padding-left: 20px ;
}

/* Parte derecha de la navegación (Mirando de lado del usuario) */

.nav-derecha {
  display: flex;
  flex-grow: 1 ;
  color: white;
  /* background-color: orange; */
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

nz-badge {
  margin-right: 23px;
}

[nz-icon] {
  color: white;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 24px;
}
