<!-- <tr> -->
  <td>{{ oUser.email }}</td>
  <td>{{ oUser.name.first }} {{ oUser.name.last }}</td>
  <td [nzShowCheckbox] = "true"></td>
  <td>12-diciembre-2018</td>
  <td>16-diciembre-2018</td>
  <td [nzShowCheckbox] = "true"></td>
  <td>
    <nz-tag [nzColor]="'magenta'"><i nz-icon nzType="search"></i></nz-tag>
    <nz-tag [nzColor]="'red'"><i nz-icon nzType="search"></i></nz-tag>
    <nz-tag [nzColor]="'volcano'"><i nz-icon nzType="search"></i></nz-tag>
    <nz-tag [nzColor]="'orange'"><i nz-icon nzType="search"></i></nz-tag>
    <nz-tag [nzColor]="'gold'"><i nz-icon nzType="search"></i></nz-tag>
  </td>
<!-- </tr> -->