<nz-table
#ajaxTable
nzShowSizeChanger
[nzFrontPagination]="false"
[nzData]="listOfData"
[nzLoading]="loading"
[nzTotal]="total"
[(nzPageIndex)]="pageIndex"
[(nzPageSize)]="pageSize"
(nzPageIndexChange)="searchData()"
(nzPageSizeChange)="searchData(true)"
>
<thead (nzSortChange)="sort($event)" nzSingleSort>
  <tr>
    <th nzShowSort nzSortKey="email"><span>Correo</span></th>
    <th nzShowSort nzSortKey="name">Nombre</th>
    <!-- <th nzShowFilter [nzFilters]="filterGender" (nzFilterChange)="updateFilter($event)">Gender</th> -->
    <th nzShowSort  nzSortKey="lBloqueado">¿Bloqueado?</th>
    <th nzShowSort nzSortKey="dtFechaAlta">Fecha alta</th>
    <th nzShowSort nzSortKey="dtFechaModificación">Fecha modificación</th>
    <th nzShowSort nzSortKey="lActivo">Activo</th>
    <th nzShowSort nzSortKey="">Acciones</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let oUser of ajaxTable.data; let i= index;">
  <td>{{ oUser.email }}</td>
  <td>{{ oUser.name.first }} {{ oUser.name.last }}</td>
  <td [nzShowCheckbox] = "true"></td>
  <td>12-diciembre-2018</td>
  <td>16-diciembre-2018</td>
  <td [nzShowCheckbox] = "true"></td>
  <td>
  
    <app-check-estatus [idUsuario]="i" (ChangeStatus)="pruebaChange($event)"></app-check-estatus>
    <nz-tag [nzColor]="'red'"><i nz-icon nzType="search"></i></nz-tag>
    <nz-tag [nzColor]="'volcano'"><i nz-icon nzType="search"></i></nz-tag>
    <nz-tag [nzColor]="'orange'"><i nz-icon nzType="search"></i></nz-tag>
    <nz-tag [nzColor]="'gold'"><i nz-icon nzType="search"></i></nz-tag>
  </td>
</tr> 
<!-- <tr *ngFor="let data of ajaxTable.data">
  <app-row  [oUser]="data"></app-row>
</tr> -->
</tbody>
</nz-table>